
*{
    margin: 0px;
    
}

body{
    font-family: 'Work Sans', sans-serif;

}

/* primary */
:root {
    --main-width: 1440px;
    --pri-color: #FF900E;
  }


.pri-btn{
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #FF900E;
    border: 0px;
    border-radius: 8px;
    padding: 20px 25px;

}

/*header section start
========= */
header{
    background-color: antiquewhite ;
}
.main-header{
    margin: auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.site-logo{
    font-size: 24px;
}
nav ul{
    display: flex;
    gap: 35px;
}
nav ul li{
    list-style: none;
}

/* hero section */

.hero-sec{
    padding-bottom: 50px;
}

.hero-text{
    text-align: center;
    padding: 100px 285px 0px;
}
.hero-text h2{
    font-size: 45px;
}
.hero-text p{
    margin: 30px 200px;
}
.hero-btn{
    text-align: center;
}
.hero-image{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
}





/*header section end
========= */

/* features section start */
.features{
    margin: auto;
    width: var(--main-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.glary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.features-texts{
    padding: 70px;
}
.features-texts-title h2{
    font-size: 45px;
    font-weight: 400;
}
.features-text-details p{
    font-size: 18px;
    margin: 24px 0px;
}


/* quick list of our features title styles */

.f-style{
    font-weight: 700;
    color: var(--pri-color);
}
.q-style{
    color: rgb(122, 118, 118);
}

/* quick list of our features title styles */


/* =====================
features section end 
========================*/


/* =======================
Experience section end 
==========================*/